<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VaultLinkBankSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="BankingDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\USERS\JB\SOURCE\REPOS\VAULTLINK-SAVINGBANKSYSTEMFINAL\BANKING.MDF;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
	</connectionStrings>




	<runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
 <userSettings>
  <VaultLinkBankSystem.Properties.Settings>
   <setting name="LastInterestDate" serializeAs="String">
    <value>2025-01-01</value>
   </setting>
  </VaultLinkBankSystem.Properties.Settings>
 </userSettings>
</configuration>